.container {
    display: flex;
    background-color: rgba(57, 57, 57, 0.494);
    border-radius: 10px;
    letter-spacing: 0.1rem;

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        // tamanho das letras grande
        font-weight: 700;


        li {
            margin: 10px;
            width: 100px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: white;

                transition: all 0.5s;
            }
            
            :hover {
                color: white;
                font-size: larger;
            }
        }
        
    } 
    
}