$background-color: rgb(57, 57, 57, 0.494);
$white-color: white;

.container {
    display: flex;
    background-color: rgba(57, 57, 57, 0.494);
    border-radius: 10px;

    ul {
        display: flex;
        align-items: center;
        font-weight: 700;

        a {
            color: $white-color;
            font-size: large;
        
            transition: all 0.5s;
        }a:hover {
            font-size: larger;
        }


        li {
            margin: 10px;
            width: 100px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    } 
    
}