$background-color: rgb(57, 57, 57);
$background-color-secondary: rgb(81, 81, 81);
$text-color: rgb(172, 170, 170);
$white-color: rgb(200, 200, 200);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $text-color;

    .education {
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        align-items: center;
        width: 50vw;
        height: auto;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    
        .about {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.5rem;

            p {
                max-width: 700px;
                text-align: justify;
                line-height: 1.5rem;
                letter-spacing: 0.1rem;

            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    font-size: 1rem;
                }
            }
            
        }
        
        .formation {
            margin-bottom: 1.5rem;
        }

        .certificates {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
        }

        .programming {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.5rem;

            .info {
                display: flex;
                align-items: flex-start;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem;
                    list-style: none;
    
                    li {
                        margin: 0.5rem;
                        font-size: 1rem;

                        a {
                            margin: 0;
                        }
                    }
                }   
            }
        }
    }

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 1rem;
        padding: 1rem;
        

        div {
            display: flex;
            flex-direction: row;
            margin: 1rem;
            
            div {
                display: flex;
                flex-direction: column;
                width: 400px;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: $background-color;
                margin: 10px;

                iframe {
                    width: 300px;
                    height: 200px;
                    margin: 1.5rem;                
                }

                h3 {
                    margin: 1rem;
                    text-align: center;
                    line-height: 1.5rem;
                    letter-spacing: 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                p {
                    margin: 1rem;
                    text-align: justify;
                    line-height: 1.5rem;
                    letter-spacing: 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

            }
            :hover {
                background-color: $background-color-secondary;
            }

        }
        
    }
}