$text-color: rgb(172, 170, 170);
$hover-color: white;

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 0.1rem;
        
    
        
        img {
            width: 35px;
            height: 35px;
            // deixar a imagem redonda
            border-radius: 50%;
        }
    
        p {
            margin: 0;
            margin-left: 10px;
            font-weight: 700;
        }
    
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px;
    
            p {
                color: $text-color;
            }
        }

        .icons {
            margin: 20px;

            a {
                color: $hover-color;
            }
        }
    }
}

